/*-----------
    COMMON
-----------*/
body {
    color: white;
}
section {
    padding: 1.875rem 0;
}
.container {
    max-width: 68.75rem;
    margin: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
/*----------------------
    Flex
----------------------*/
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.items-end {
    align-items: flex-end;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}
.col {
    padding: 0.625rem;
}

.card {
    border-radius: 40px;
}
/*----------------------
    Buttons
----------------------*/
button {
    border: none;
    border-radius: 20px;
    padding: .625rem;
    cursor: pointer;
}