/*-----------
    FOOTER
-----------*/
footer {
    background-color: var(--bg-footer);
    text-align: center;
    color: white;
    padding: 2.5rem;
}
footer a {
    color: var(--bg-second);
}
footer p:first-child {
    margin-bottom: 4rem;
}