/*----------
    MAIN
----------*/

/*----------------------
    Section Highlights
----------------------*/

#highlights h1, #highlights h2, #highlights h3, #highlights .card > i {
    color: var(--bg-first);
}
#highlights p {
    color: var(--secondary-first);
}
#highlights .col {
    width: 100%;
}
#highlights .card {
    background-color: var(--col-first);
    padding: 1.875rem;
    text-align: center;
}
#highlights .col:first-child .card {
    text-align: left;
}

#highlights button {
    background-color: var(--bg-first);
    color: white;
    padding: 0.625rem 2.5rem;
}
/*------ RESPONSIVE mob-first ------*/

/* tablet view */
@media screen and (min-width: 768px) {
    #highlights .col {
        width: calc( 100% / 3 );
    }
    #highlights .col:first-child {
        width: calc( (100% / 3) * 2 );
    }
}

/* desktop view */
@media screen and (min-width: 992px) {
    #highlights .card-text, #highlights .card-img {
        width: 50%;
    }
    #highlights .card-img {
        align-self: flex-end;
    }
}

/*----------------------
    Section Strategic
----------------------*/

section#strategic{
    background-color: var(--bg-second);
}
#strategic .col {
    width: 100%;
}
#strategic .col.card {
    background-color: white;
    color: black;
    text-align: center;
}
#strategic button {
    color: black;
}
/*------ RESPONSIVE mob-first ------*/

/* desktop view */
@media screen and (min-width: 992px) {
    #strategic .row {
        justify-content: center;
        align-items: flex-end;
    }
    #strategic .col {
        width: 40%;
    }
}

/*----------------------
    Section Testimonials
----------------------*/
section#testimonials {
    text-align: center;
}
#testimonials h4, #testimonials .container > p {
    color: black;
}
#testimonials h2 {
    color: var(--bg-second);
}
#testimonials .card {
    background-color: var(--bg-second);
    margin: .625rem 0;    
}
#testimonials .container > .row {
    justify-content: center;
}
#testimonials .col {
    width: 100%;
}
#testimonials .card-img, #testimonials .card-text {
    width: 100%;
}
/*------ RESPONSIVE mob-first ------*/

/* tablet view */
@media screen and (min-width: 768px) {
    #testimonials .card.row {
        align-items: center;
    }
    #testimonials .card-img {
        width: 30%;
    }
    #testimonials .card-text {
        width: 70%;
        text-align: left;
    }
}

/* desktop view */
@media screen and (min-width: 992px) {
    #testimonials .card-img {
        width: 15%;
    }
    #testimonials .card-text {
        width: 85%;
    }
}

/*----------------------
    Section Benefits
----------------------*/

section#benefits {
    background-color: var(--bg-second);
    text-align: center;
}
#benefits .col {
    width: 100%;
}
#benefits .card {
    background-color: white;
    margin: .625rem;  
    text-align: left;
}
#benefits .card h2, #benefits .card h3 {
    color: var(--bg-second);
}
#benefits .card p {
    color: var(--secondary-first);
}
/*------ RESPONSIVE mob-first ------*/

/* tablet view */
@media screen and (min-width: 768px) {
    #benefits .col {
        width: calc( 100% / 2 - 1.25rem);
    }
}

/* desktop view */
@media screen and (min-width: 992px) {
    #benefits .col {
        width: calc( 100% / 3 - 1.25rem);
    }
}

/*----------------------
    Section About-Us
----------------------*/
#about-us h2, #about-us h3, #about-us i {
    color: var(--bg-second);
}
#about-us p {
    color: black;
}
#about-us .col {
    width: 100%;
}
#about-us .card-img {
    width: 50%;
}
/*------ RESPONSIVE mob-first ------*/

/* tablet view */
@media screen and (min-width: 768px) {
    #about-us .row {
        justify-content: space-between;
    }
    #about-us .col:first-child {
        width: 55%;
    }
    #about-us .col:last-child {
        width: 40%;
    }
    #about-us .card-img {
        width: 100%;
    }
}

/* desktop view */
@media screen and (min-width: 992px) {
    #about-us .col:first-child {
        width: 70%;
    }
    #about-us .col:last-child {
        width: 25%;
    }
}

/*----------------------
    Section Get-Started
----------------------*/

#get-started .col {
    
}

/*------ RESPONSIVE mob-first ------*/

/* tablet view */
@media screen and (min-width: 768px) {
    
}

/* desktop view */
@media screen and (min-width: 992px) {
    
}