/*----------
    MAIN
----------*/

/*----------------------
    Section Highlights
----------------------*/

#highlights h1, #highlights h2, #highlights h3, #highlights .card > i {
    color: var(--bg-first);
}
#highlights p {
    color: var(--secondary-first);
}
#highlights .col {
    width: 100%;
}
#highlights .card {
    background-color: var(--col-first);
    padding: 1.875rem;
    text-align: center;
}
#highlights .col:first-child .card {
    text-align: left;
}

#highlights button {
    background-color: var(--bg-first);
    color: white;
    padding: 0.625rem 2.5rem;
}
#highlights button i {
    padding-right: 4px;
}
/*------ RESPONSIVE mob-first ------*/

/* tablet view */
@media screen and (min-width: 768px) {
    #highlights .col {
        width: calc( 100% / 3 );
    }
    #highlights .col:first-child {
        width: calc( (100% / 3) * 2 );
    }
}

/* desktop view */
@media screen and (min-width: 992px) {
    #highlights .card-text, #highlights .card-img {
        width: 50%;
    }
    #highlights .card-img {
        align-self: flex-end;
    }
}

/*----------------------
    Section Strategic
----------------------*/

section#strategic{
    background-color: var(--bg-second);
}
#strategic .col {
    width: 100%;
}
#strategic .col.card {
    background-color: white;
    color: black;
    text-align: center;
}
#strategic button {
    background-color: var(--bg-second);
}
/*------ RESPONSIVE mob-first ------*/

/* desktop view */
@media screen and (min-width: 992px) {
    #strategic .row {
        justify-content: center;
        align-items: flex-end;
    }
    #strategic .col {
        width: 40%;
    }
}

/*----------------------
    Section Testimonials
----------------------*/

#testimonials .col {
    
}

/*------ RESPONSIVE mob-first ------*/

/* tablet view */
@media screen and (min-width: 768px) {
    
}

/* desktop view */
@media screen and (min-width: 992px) {
    
}

/*----------------------
    Section Benefits
----------------------*/

#benefits .col {
    
}

/*------ RESPONSIVE mob-first ------*/

/* tablet view */
@media screen and (min-width: 768px) {
    
}

/* desktop view */
@media screen and (min-width: 992px) {
    
}

/*----------------------
    Section About-Us
----------------------*/

#about-us .col {
    
}

/*------ RESPONSIVE mob-first ------*/

/* tablet view */
@media screen and (min-width: 768px) {
    
}

/* desktop view */
@media screen and (min-width: 992px) {
    
}

/*----------------------
    Section Get-Started
----------------------*/

#get-started .col {
    
}

/*------ RESPONSIVE mob-first ------*/

/* tablet view */
@media screen and (min-width: 768px) {
    
}

/* desktop view */
@media screen and (min-width: 992px) {
    
}